<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="Stock" connectionString="Server=.\Exercises;Database=Stock;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="StockTest" connectionString="Server=.\Exercises;Database=Stock;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>